{% extends 'master.html' %}
{% block master %}
<h1>{{ title }}</h1>
<table class="ui celled table">
    <thead>
        <tr>
            <th colspan="1"><div class="ui icon input">
                    <form action="">
                        <div class="ui action input">
                            <input type="text" name="s" placeholder="Buscar...">
                            <button class="ui button" type="submit"
                                alt="Procurar">Procurar</button>
                        </div>
                    </form>
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefone
                </th>
                <th >
                    Documento
                </th>
                <th colspan="2">
                    Criado
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> <i class="large icon user circle"></i>{{user.nome}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telefone}}</td>
                <td>{{user.documento}}</td>
                <td>{{user.dt_criacao}}</td>
                <td class="right aligned">
                    <div class="ui buttons">
                        <a class="ui icon button orange" title="Editar"
                            href="user/ediat/{{user.id_user}}">
                            <i class="edit outline icon"></i>
                        </a>
                        <a class="ui icon button red" title="Remover"
                            onclick="$('.ui.basic.modal')
                            .modal({
                            closable : false,
                            onDeny : function(){
                            $('.ui.basic.modal').modal('hide');
                            return false;
                            },
                            onApprove : function() {
                            return true;
                            }
                            })
                            .modal('show')
                            ; return false; "href="user/remoave/{{user.id_user}}">
                            <i class="ban icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><th colspan="6">
                    <div class="ui right floated pagination menu">
                        {{links | raw}}
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Aviso
        </div>
        <div class="content">
            <p>Tem certeza que deseja remover esse usuário do sistema?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Não
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Sim
            </div>
        </div>
    </div>
    <script>
            $( document ).ready(function() {
                $('.ui.basic.modal').modal();});
        </script>
    {% endblock%}
