.ui.menu {
    border-radius: 0%;
}
.ui.sticky, .ui.visible.uncover.sidebar, .ui.menu .dropdown.item .menu, .ui.visible.left.overlay.sidebar {
 background: #2D7DD2;
 border: none;
}

.ui.menu .item, .ui.menu .active.item, .ui.sidebar.menu .item, .ui.menu .ui.dropdown .menu>.item {
    color: #FFFFFF !important;
}
   
