
    <div class="header">{{acao}} Evolução</div>
    <div class="content">
        <form class="ui form" method="POST" id="cad_evolucao"
            action="{{action}}">
            <input type="hidden" name="id_paciente" value="{{id_paciente}}">
            <div class="field">
                <input type="date" placeholder="Data da evolução"
                    value="{{evolucao.data | date("Y-m-d" )}}" name="data"
                    required>
                {{ message('data') | raw }}
            </div>
            <div class="field">
                <input type="number" name="eva" placeholder="Eva"
                    value="{{evolucao.eva}}" max="10" min="0" required>
                {{ message('eva') | raw }}
            </div>
            <div class="field">
                <textarea rows="5" maxlength="500" placeholder="Descrição da evolução"
                    name="descricao" required>{{html_entity_decode(evolucao.descricao)}}</textarea>
                {{ message('descricao') | raw }}
            </div>
            <div class="actions">
                <input class="ui submit blue button" value="{{acao}}"
                    type="submit"/>
                <button type="button" class="ui negative button yellow" onclick="$('#form_cadastro').empty(); 
                evolucoes_vue.formulario = true; ">Cancelar</button >
            </div>
        </form>
    </div>
