{% extends 'master.html' %}
{% block master %}
<div class="ui row">
  <h2 class="ui large header">
    {{paciente.nome}}
  </h2>
  <input type="hidden" id="id_paciente" value="{{paciente.id_paciente}}" />
</div>
<div class="ui row">
  <div class="ui buttons">
    <a id="nova_evolucao" title="Evoluir" class="ui small green icon
      button"
      href="#">
      <i class="chart line icon"></i>Nova
    </a>
    <a id="chart_evolucao" title="Relatório" class="ui small violet icon
      button"
      onclick="viewRelatorio()">
      <i class="clipboard icon"></i>PDF
    </a>
    <a class="ui small animated button yellow"
      href="{{constant('Config::HOST_APP')}}user/pacientes" tabindex="0">
      <div class="visible content">Voltar</div>
      <div class="hidden content">
        <i class="left arrow icon"></i>
      </div>
    </a>
  </div>
</div>
<div id="control">
  <div id="evolucoes_vue">
    <div class="column" v-for="(evolucoes, index) in evolucoes">
      <div class="ui segment">
        <div class="ui blue ribbon label">%{ evolucoes.data }</div>
        Eva %{ evolucoes.eva }
        <p></p>
        <a class="ui orange ribbon label"
          @click='viewEditEvolucao( evolucoes.id_evolucao, index)'>Editar </a>
        %{ evolucoes.descricao }
        <p></p>
        <a class="ui red ribbon label"
          @click="confirmaRemocao(evolucoes.id_evolucao ,evolucoes.id_paciente,
          index)">Remover
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"
  src="{{constant('Config::HOST_APP')}}src/App/Assets/js/evolucao.js">
</script>
<script>  	
  evolucoes_vue.evolucoes = {{ evolucoes|json_encode()  | raw }};
</script>
{% endblock%}
