{% extends 'master.html' %}
{% block master %}
<div class="ui two column doubling stackable grid container">
  <div class="ui left aligned column">
    <h2 class="ui large header">
      {{paciente.nome}}
    </h2>
    <input type="hidden" id="id_paciente" value="{{paciente.id_paciente}}" />
  </div>
  <div class="ui right aligned column">
    <div class="ui buttons">
      <a id="nova_evolucao" title="Evoluir" class="ui small green icon
        button"
        href="#">
        <i class="chart line icon"></i>
      </a>
      <a id="chart_evolucao" title="Relatório" class="ui small violet icon
        button"
        onclick="viewRelatorio()">
        <i class="clipboard icon"></i>
      </a>
      <a class="ui small animated button yellow"
        href="{{constant('Config::HOST_APP')}}user/pacientes" tabindex="0">
        <div class="visible content">Voltar</div>
        <div class="hidden content">
          <i class="left arrow icon"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="control">
  <div id="evolucoes_vue">
    <div class="column" v-for="(evolucoes, index) in evolucoes">
      <div class="ui segment">
        <div class="ui blue ribbon label">%{ evolucoes.data }</div>
        Eva %{ evolucoes.eva }
        <p>%{ evolucoes.descricao }</p>
        <a class="ui orange ribbon label"
          onclick="viewEditEvolucao( %{evolucoes.id_evolucao} )">Editar </a>
        <p></p>
        <a class="ui red right ribbon label"
          onclick="confirmaRemocao(%{evolucoes.id_evolucao },%{evolucoes.id_paciente })">Remover
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"
  src="{{constant('Config::HOST_APP')}}src/App/Assets/js/evolucao.js">
</script>
<script>  	
  evolucoes_vue.evolucoes = {{ evolucoes|json_encode()  | raw }};
</script>
{% endblock%}
