{% extends 'master.html' %}
{% block master %}
<div class="row">
	<div class="col">
		<h2 class="">
			{{title}}
		</h2>
	</div>
	<div class="col ">
		<a class="btn btn-primary float-right" href="paciente">
			Cadastrar Paciente
		</a>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<div class="ui icon input">
					<form action="">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Busca.." required name="s" aria-label="Recipient's username" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="button-addon2">Procurar</button>
							</div>
						</div>
					</form>
				</th>
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for paciente in pacientes %}
			<tr>
				<td>
					<a title="Editar" href="pacientes/edit/{{paciente.id_paciente}}">
						<i class="fa fa-pencil"></i>
						{{paciente.nome}}
					</a>
				</td>
				<td>
					<a href=" https://api.whatsapp.com/send?phone=55{{paciente.telefone}}" target="_blank">
						<i class="fa fa-mobile"></i>
						{{paciente.telefone}}</a>
				</td>
				<td class="right aligned">
          <a title="Consulta" class="btn btn-success btn-sm" href="evolucao/{{paciente.id_paciente}}">
            <i class="fa fa-stethoscope" aria-hidden="true"></i> Consulta
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="3">
				<div class="ui right small floated pagination menu">
					{{links | raw}}
				</div>
			</th>
		</tr>
	</tfoot>
</table>
{% endblock%}
