{% extends 'master.html' %}
{% block master %}
<form enctype="multipart/form-data" class="ui form" method="POST" action="perfil/update">
    <div class="field">
        <label>Nome Completo</label>
        <input type="text" name="nome" value="{{user().nome}}" required
            placeholder="Nome">
    </div>
    <div class="field">
        <label>E-mail</label>
        <input type="text" name="email" value="{{user().email}}" required
            placeholder="E-mail">
    </div>
    <div class="field">
        <label>Crefito</label>
        <input type="text" name="crefito" value="{{user().crefito}}"
            placeholder="Crefito">
    </div>
    <div class="field">
        <label>Telefone</label>
        <input type="text" name="telefone" value="{{user().telefone}}"
            placeholder="Telefone">
    </div>
    <div class="field">
        <label>Documento</label>
        <input type="text" name="documento" value="{{user().documento}}"
            placeholder="Cpf ou RG">
    </div>
    <div class="field">
        <label>Senha</label>
        <input type="password" name="password" placeholder="Senha" id="password">
    </div>
    <div class="field">
        <label>Confirmar senha</label>
        <input type="password" placeholder="Confirme a senha" id="confirm_password">
    </div>
    <div class="field">
        <label>Foto</label>
        <input type="file" name="photo" id="photo">
    </div>
    <button class="ui button green" type="submit">Atualizar</button>
    <p>
        Em casos de dúvidas entre em contato pelo e-mail suporte@fisioevol.com.br
    </p>
</form>
<script type="text/javascript"
    src="{{constant('Config::HOST_APP')}}Assets/js/user.js">
</script>
{% endblock%}
