<div class="container">
	<div class="row">
		<div class="col-12 col-md">
			<small class="d-block mb-3 text-muted">Todos os direitos reservardos FisioEvol</small>
		</div>
		<div class="col-6 col-md">
			<h5>Links</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="https://github.com/samuelmattos/fisio-evol" target="new_window">GitHub</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Recursos</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="/register">Registrar</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Sobre</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="#" onclick="politicas()">Termos de Serviço e Política de Privacidade</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>
	politicas = function () {
axios.get('politica_privacidade.html').then((response) => {
popError('Termos de Serviço e Política de Privacidade', response.data);
}).catch(error => {
popError('Erro', error);
});
}
</script>
