{% extends 'master.html' %}
{% block master %}
<div class="ui segment">    
    <h1>Fisio evol ajuda o fisioterapeuta na gestão de seus pacientes.
    </h1>
    <img class="ui small centered image" src="src/App/Assets/img/logo.png">
    <h2>
        Cadastre os pacientes e suas respectivas evoluções, tenha acesso a relatórios de todas as evoluções,
        receba por e-mail e repasse ao CREFITO quando solicitado.
    </h2>
</div>
<a id="btn_insecrever" href="/register" class="ui large button green">Cadastre-se</a>
{% endblock%}
