{% extends 'master.html' %}
{% block master %}
<div class="ui fluid">
    <h2>No que o app Fisio Evol pode me ajudar?</h2>
    <img class="ui left floated small image"
        src="Assets/img/icons/medical_doctor.svg">
    <p>Fisio evol ajuda o fisioterapeuta na gestão de seus pacientes.
    </p>
    <p>
        Cadastre os pacientes e suas respectivas evoluções, tenha acesso a
        relatórios de todas as evoluções,
        receba por e-mail e repasse ao CREFITO quando solicitado.
    </p>
    <a id="btn_insecrever" href="/register" class="ui large button green">Cadastre-se</a>
</div>

{% endblock%}
