<div class="right menu">
    {% if admin() == true %}
    <div class="ui dropdown item">
        {{admin().nome}}
        <i class="large icon user circle"></i>
        <div class="menu">
            <a
                href="{{constant('Config::HOST_APP')}}admin/painel"
                class="item">Usuários</a>
            <a
                href="{{constant('Config::HOST_APP')}}admin/painel"
                class="item">Perfil</a>
            <a
                href="{{constant('Config::HOST_APP')}}admin/logout"
                class="item">Sair</a>
        </div>
    </div>
    {% endif %}
    {% if user() == true %}
    <div class="ui dropdown item">
        {{user().nome}}
        <i class="icon user md  circle"></i>
        <div class="menu">
            <a
                href="{{constant('Config::HOST_APP')}}user/pacientes"
                class="item">Pacientes</a>
            <a
                href="{{constant('Config::HOST_APP')}}user/pacientes"
                class="item">Perfil</a>
            <a
                href="{{constant('Config::HOST_APP')}}user/logout"
                class="item">Sair</a>
        </div>
    </div>
    {% endif %}
    {% if user() != true and admin() != true %}
    <a class="item" href="{{constant('Config::HOST_APP')}}userLogin">
        <i class="sign in alternate icon"></i> Login
    </a>
    <a class="item" href="{{constant('Config::HOST_APP')}}register">
        <i class="user md alternate icon "></i> Cadastrar
    </a>
    {% endif %}
</div>