{% extends 'master.html' %}
{% block master %}
<h2 class="text-center">
    <img  class="img-thumbnail" src="Assets/img/logo.png">
    <div class="content">
        <div class="sub header"> Entrar usando sua conta</div>
    </div>
</h2>
<form action="userAccess" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp">
        {{ message('email') | raw }}
    </div>
    <div class="form-group">
        <label for="passInput">Senha</label>
        <input type="password" name="password" class="form-control" id="passInput" required >
        {{ message('password') | raw }}
    </div>
        <button class="btn btn-primary" type="submit">Acessar</button>
        <p>{{ message('form_error_msg') | raw }}</p>
    <div class="ui two column very relaxed grid">
        <a class="column vertical divider" href="remenber">
            Esqueci minha senha
        </a>
        <a class="column vertical divider" href="register">
            Registrar
        </a>
    </div>
</form>
{% endblock%}