{% extends 'master.html' %}
{% block master %}
<!--develope-->
<div class="ui center aligned grid">       
    <form class="ui five column " action="userAccess" method="POST">
        <div class="ui large form raised segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" required placeholder="Login">
                </div>
                {{ message('email') | raw }}
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" required name="password"
                        placeholder="Senha">
                </div>
                {{ message('password') | raw }}
            </div>
            <button class="field fluid ui blue submit button large"
                type="submit">Acessar</button>
            <a class="field fluid ui teal button large" href="remenber">
                Esqueci minha senha
            </a>
        </div>
    </form>
</div>
{% endblock%}