{% extends 'master.html' %}
{% block master %}
<h1>Login</h1>
<div class="ui center aligned grid">
    <div class="eight column">
        <form class="ui large form" action="access" method="POST">
            <div class="ui raised segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Login">                        
                    </div>
                    {{ message('email') | raw }}
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password"
                            placeholder="Senha">                            
                    </div>
                    {{ message('password') | raw }}
                </div>
                <button class="ui fluid large blue submit button" type="submit">Acessar</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            <a href="remenber">
            Esqueci minha senha ?
            </a>
        </div>
    </div>
</div>
{% endblock%}