{% extends 'master.html' %}
{% block master %}
<h1>Login</h1>
<div class="ui center aligned grid">
    <div class="eight column">
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Login">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password"
                            placeholder="Senha">
                    </div>
                </div>
                <div class="ui fluid large blue submit button">Acessar</div>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Novo aqui ?
            <a href="register">Cadastre-se</a>
        </div>
    </div>
</div>
{% endblock%}