<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta name="theme-color" content="#f8f9fa"/>
        <link rel="manifest"
            href="{{constant('Config::HOST_APP')}}/manifest.json">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-180x180.png">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            maximum-scale=1.0">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>FisioEvol {{ title}}</title>
        <link href="/css/app.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        {% include 'menu.html' %}       
        <main role="main">
            <div class="container" style="margin-top: 60px;">
                {% block master %}
                {% endblock%}
            </div>
        </main>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            {% include 'Footer.html' %}
        </footer>
        <script>
        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("[PWA Builder] active service worker found, no need to register");
            } else {
                // Register the service worker
                navigator.serviceWorker
                .register("{{constant('Config::HOST_APP')}}sw.js", {
                    scope: "/"
                })
                .then(function (reg) {
                    console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                });
            }
        }
        </script>
        <script src="/js/main.js"></script>
        <script type="text/javascript"
            src="{{constant('Config::HOST_APP')}}Assets/js/function.js"></script>
            <script>
	politicas = function () {
axios.get('/politica_privacidade.html').then((response) => {
popError('Termos de Serviço e Política de Privacidade', response.data);
}).catch(error => {
popError('Erro', error);
});
}
</script>
 {% block jsbefore %}
 {% endblock%}
    </body>
</html>