<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <link rel="apple-touch-icon" sizes="57x57"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/favicon-16x16.png">
        <link rel="manifest"
            href="{{constant('Config::HOST_APP')}}Assets/img/fav/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage"
            content="{{constant('Config::HOST_APP')}}Assets/img/fav/ms-icon-144x144.png">
        <meta name="theme-color" content="#2d7dd2">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            maximum-scale=1.0">
        <link rel="stylesheet" type="text/css"
            href="{{constant('Config::HOST_APP')}}Assets/css/semantic.min.css">
        <link rel="stylesheet" type="text/css"
            href="{{constant('Config::HOST_APP')}}Assets/css/styles.css">
        <title>FisioEvol {{ title}}</title>
    </head>
    <body>
        {% include 'menu.html' %}
        <script type="text/javascript"
            src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="{{constant('Config::HOST_APP')}}Assets/js/function.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
        <div class="pusher">
            <div class="ui sticky menu" id="top-menu">
                <a class="item mobile-button" id="menu">
                    <i class="sidebar icon"></i> Menu
                </a>
                {% include 'logged.html' %}
            </div>
            <div class="ui container">
                {% block master %}
                {% endblock%}
            </div>
        </div>
        <script type="text/javascript"
            src="{{constant('Config::HOST_APP')}}Assets/js/semantic.min.js">        
         </script>
        <script>
        $('#left-menu').first()
            .sidebar('setting',  'transition', 'overlay')
            .sidebar('attach events', '.mobile-button');
        $('#top-menu').sticky({});
        $('.ui.dropdown').dropdown();
        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("[PWA Builder] active service worker found, no need to register");
            } else {
                // Register the service worker
                navigator.serviceWorker
                .register("{{constant('Config::HOST_APP')}}sw.js", {
                    scope: "/"
                })
                .then(function (reg) {
                    console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                });
            }
        }
        </script>
    </body>
</html>