<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" href="home">
      <i class="home icon"></i> Home
    </a>
    <a class="item" href="sobre">
      <i class="grid info icon"></i> Sobre
    </a>
    <a class="item" href="login">
      <i class="sign in alternate icon"></i> Login
    </a>
    <a class="item" href="evolucao">
      <i class="chart line icon"></i> Evolução
    </a>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Buscar..."></div>
    </div>
  </div>
</div>