{% extends 'master.html' %}
{% block master %}
<form class="ui form">
  <div class="field">
    <label>Nome</label>
    <input type="text" name="first-name" placeholder="Nome">
  </div>
  <div class="field">
    <label>Sobrenome</label>
    <input type="text" name="last-name" placeholder="Sobrenome">
  </div>
    <div class="field">
    <label>E-mail</label>
    <input type="text" name="email" placeholder="E-mail">
  </div>
  <div class="field">
    <select>
      <option value="">Gênero</option>
      <option value="1">Masculino</option>
      <option value="0">Feminino</option>
    </select>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Eu aceito os termos e condições</label>
    </div>
  </div>
  <button class="ui button" type="submit">Cadastrar</button>
</form>
{% endblock%}